name: Itzma workflow

on:
  push:
    branches:
    - main
    - development
    - testing
    - hw*
    - HW*
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9","3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.9
    - name: Install requirements & Library
      run: |
        make develop
        make build
        make install
    - name: Check package files
      run: make check
    - name: Autoformat and lint
      run: make lint
    - name: Run tests and collect coverage
      run:  make coverage
    - name: Upload coverage reports to Codecov
      run: codecov/codecov-action@v3